// ★★ Block -> Search (b-search-a) ★★

// ✎ Standard, horizontal search area

// ⌚ Level 1.00 (05/08/12)

// ☍ Components:
//     - Input (b-search-input)
//     - Submit (b-search-submit)
//     - Advanced (b-search-advanced)

// ☆ Sub-Classes:
//     - Null

// ☯ Browser Support:
//     - Chrome
//     - FireFox
//     - Safari
//     - Opera
//     - IE9/8/7
 
// -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

@mixin b-search-a {
    
    @include group;

    margin-bottom: $leading;

    // Input // Submit // Advanced

    .b-search-input,
    .b-search-submit,
    .b-search-advanced { @include inline-block; }

    input[type="search"] {
    	@extend %u-form_input;
		height: 20px;
		padding: 4px 6px;
		width: 220px;
    }
    input[type=submit],
    [type="submit"] {
		@extend %u-form_input;
        @include boxShadow(none);
        background: $tertiaryColor url("#{$imageURL-core}/icons/12x12/white/icon-search.png") no-repeat center center;
		padding: 4px 15px;
		text-indent: -99999px;
		&:hover { background-position: center center; }
	}
} // END b-search-a
